# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.lock

# Android
android_receiver/android/.gradle/
android_receiver/android/local.properties
android_receiver/android/app/debug/
android_receiver/android/app/profile/
android_receiver/android/app/release/

# Web
web_controller/build/

# Environment files
.env
*.env

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db
